body {
    background-color: #242225;
    color: #ffffff;
    font-size: 16px;
}

#app {
    margin: 10px;
    align-items: center;
    justify-content: space-around;
}

button {
    background-color: #04AA6D;
    border: none;
    padding: 10px 16px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 0.2em;
    margin: 18px;
}

.url,
.search,
.replace {
    background-color: #464347;
    border: none;
    padding: 10px 16px;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 16px;
    width: 27%;
    border-radius: 5px;
    margin: 10px;
}

.rule-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.remove-rule-button {
    color: #ff0000;
    cursor: pointer;
    font-size: 38px;
}

.status-error,
.status-ok {
    padding: 5px 10px;
    font-weight: bold;
    font-size: 14px;
    display: none;
}

.status-error {
    border: 1px solid #ff0000;
    color: #ff0000;
}

.status-ok {
    border: 1px solid #04AA6D;
    color: #04AA6D;
}

.hidden {
    display: none;
}