---
name: Build, publish and release firefox extension
on:
  push:
    branches:
      - ci
    tags:
      - "cacdh_v*"
      - "caml_v*"
jobs:
  publish-firefox-extension:
    runs-on: ubuntu-latest
    steps:
      - name: Check Initiating User
        if: github.actor != 'JayBeeDe'
        run: |
          echo "::error title=Unauthorized Access::User ${GITHUB_ACTOR} is not authorized."
          exit 1
      - name: Install packages (1/2)
        run: sudo apt-get install -y curl git jq
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Check tag
        run: |
          set -euo pipefail
          source "${GITHUB_WORKSPACE}/.github/workflows/mozilla_libs.sh"
          TAG="${GITHUB_REF##*/}"
          if [ "$GITHUB_REF_TYPE" == "branch" ]; then
            TAG="caml_v0.0.1"
          elif !git tag -v "$TAG" > /dev/null 2>&1; then
            echo "::error::Tag '$TAG' is not signed or could not be verified."
            exit 1
          fi
          checkTag "$TAG"
      - name: Set version
        run: |
          set -euo pipefail
          source "${GITHUB_WORKSPACE}/.github/workflows/mozilla_libs.sh"
          setVersion
      - name: Install packages (2/2)
        run: sudo apt-get install -y npm
      - name: Install web-ext
        run: npm install -g web-ext
      - name: Check extension
        run: |
          set -euo pipefail
          web-ext -s "${GITHUB_WORKSPACE}/${{ env.EXTENSION_SHORT }}" --no-input lint -w
      - name: Build
        run: |
          set -euo pipefail
          source "${GITHUB_WORKSPACE}/.github/workflows/mozilla_libs.sh"
          build
      - name: Prepare
        run: |
          set -euo pipefail
          set -x
          source "${GITHUB_WORKSPACE}/.github/workflows/mozilla_libs.sh"
          prepare
      - name: Publish
        env:
          WEB_EXT_API_KEY: ${{ secrets.WEB_EXT_API_KEY }}
          WEB_EXT_API_SECRET: ${{ secrets.WEB_EXT_API_SECRET }}
        run: |
          set -euo pipefail
          source "${GITHUB_WORKSPACE}/.github/workflows/mozilla_libs.sh"
          publish
      - name: Check Publication
        run: |
          set -euo pipefail
          set -x
          source "${GITHUB_WORKSPACE}/.github/workflows/mozilla_libs.sh"
          checkPublication
      - name: Release
        if: github.ref_type == 'tag'
        uses: action-pack/github-release@v2
        with:
          tag: ${{ github.ref }}
          title: "${{ env.EXTENSION_SHORT }}_v${{ env.EXTENSION_VERSION }}"
          body: |
            A new release is available for the following firefox extension:
            ${{ env.EXTENSION_NAME }}

            **Firefox Browser Add-Ons**: https://addons.mozilla.org/firefox/addon/${{ env.EXTENSION_SLUG }}/
            **File Direct Download Link**: ${{ env.EXTENSION_FILE_URL }}

            ${{ env.RELEASE_NOTES || '' }}
